/*
*  --------------------------------------------------
*  BEGIN OF RESET
*  CREDITS TO JOSH W. COMEAU FOR THIS RESET :D
*  https://www.joshwcomeau.com/css/custom-css-reset/
*  --------------------------------------------------
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

* {
  cursor: none;
  font-weight: inherit;
  @media screen and (max-width: 768px) {
    cursor: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body,
html {
  margin: 0;
  padding: 0;
  color: white;
}

/*
*  --------------------------------------------------
*  END OF RESET
*  --------------------------------------------------
*/

/*
* --------------------------------------------------
* BEGIN OF CUSTOM STYLES
* --------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: black;
  font-weight: 200;
  scroll-behavior: auto;
}

.cursor {
  pointer-events: none;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1001;

    circle {
      fill: #f7f8fa;
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: none;
  padding: 0 20px;
  mix-blend-mode: difference;
  @media screen and (max-width: 768px) {
    mix-blend-mode: normal;
  }
}

.header {
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    &__link {
      font-size: 1.5rem;
      font-weight: 200;
    }
    @media screen and (max-width: 768px) {
      display: none;
      
    }
  }
  &__title {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__hamburger {
    display: none;
    z-index: 1001;
    @media screen and (max-width: 768px) {
      display: block;
    }

    span {
      display: block;
      width: 30px;
      height: 1px;
      background-color: white;
      margin: 5px;
      transition: 0.3s ease-in-out;
    }
  }
  &__mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1000;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(100px);
    &.active {
      display: flex;
    }
    &__link {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}

section {
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 0 20px;
}

@keyframes spanimation {
  
}

/*
* --------------------------------------------------
* START OF HERO SECTION
* --------------------------------------------------
*/

#hero {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
}

.hero {
  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    background: none;
  }
  &__title {
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    letter-spacing: 10px;
    @media (max-width: 1200px) {
      font-size: 6rem;
    }
    @media (max-width: 992px) {
      font-size: 5rem;
    }
    @media (max-width: 768px) {
      font-size: 4rem;
    }
    @media (max-width: 576px) {
      font-size: 3rem;
    }
  }
}

/*
* --------------------------------------------------
* END OF HERO SECTION
* --------------------------------------------------
*/

/*
* --------------------------------------------------
* START OF ABOUT SECTION
* --------------------------------------------------
*/

#about {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.about {
  &__left,
  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      width: 100%;
      align-items: center;
    }
  }
  &__right {
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin-top: 10rem;
    font-size: 5rem;
    font-weight: 200;
    @media (max-width: 768px) {
      margin-top: 2rem;
      font-size: 3rem;
      text-align: center;
    }
  }
  &__text {
    text-align: justify;
    font-size: 2rem;
    font-weight: 200;
    @media (max-width: 768px) {
      font-size: 1.5rem;
      text-align: center;
      padding: 0 20px;
    }
  }
  &__image {
    max-width: 400px;
    max-height: 100%;
    object-fit: cover;
    box-shadow: white 10px 10px;
    @media (max-width: 768px) {
      max-width: 100%;
      margin-top: 20px;
    }
  }
}

.marquee {
  position: relative;
  display: flex;
  width: 120%;
  @media screen and (max-width: 768px) {
    display: none;
  }
  &__item {
    width: 25%;
    font-size: 3rem;
    font-weight: 200;
  }
}

/*
* --------------------------------------------------
* END OF ABOUT SECTION
* --------------------------------------------------
*/

/*
* --------------------------------------------------
* START OF PROJECTS SECTION
* --------------------------------------------------
*/

#project {
  padding: 0;
  display: flex;
  height: 100vh;
  width: 300vw;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
    width: 100vw;
  }
}

.project {
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
  &__group {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    padding: 0 20px;
    @media screen and (max-width: 768px) {
      height: auto;
      width: 100%;
      
    }
    &__title {
      margin-top: 10rem;
      font-size: 10rem;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        margin-top: 2rem;
        font-size: 5rem;
        text-align: center;
      }
    }
    &__top {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }
    &__text {
      margin-top: 10rem;
      text-align: justify;
      font-size: 2rem;
      font-weight: 200;
      max-width: 50%;
      @media screen and (max-width: 768px) {
        margin-top: 2rem;
        font-size: 1.5rem;
        text-align: center;
        max-width: 100%;
      }
    }
    &__link {
      width: 100%;
      border: 1px solid white;
      padding: 20px;
      transition: 0.2s ease-in-out;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 10px;
      }
      &__title {
        font-size: 2rem;
        font-weight: 200;
        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
      &__text {
        font-size: 1.2rem;
        font-weight: 200;
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
    &__link:hover {
      scale: 1.015;
      margin: 10px;
    }
  }
}

/*
* --------------------------------------------------
* END OF PROJECTS SECTION
* --------------------------------------------------
*/

/*
* --------------------------------------------------
* START OF CONTACT SECTION
* --------------------------------------------------
*/

#contact {
  display: flex;
  background-color: white;
  color: black;
  height: 50vh;
  padding: 20px;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
}

.contact {
  &__left, &__right {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
    }
  }
  &__right {
    display: flex;
    justify-content: space-around;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    font-size: 3rem;
    font-weight: 300;
    @media (max-width: 768px) {
      font-size: 2.5rem;
      text-align: center;
    }
  }
  &__text {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: justify;
    width: 100%;
    @media (max-width: 768px) {
      font-size: 1rem;
      text-align: center;
    }
  }
  &__infolist {
    padding: 0;
    margin-top: 30px;
    @media (max-width: 768px) {
      margin-top: 20px;
      text-align: center;
    }
    &__item {
      font-size: 1.5rem;
      font-weight: 200;
      margin-bottom: 10px;
      a {
        color: black;
        text-decoration: none;
      }
      @media (max-width: 768px) {
        font-size: 1.25rem;
      }
    }
  }
  &__social {
    h3 {
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 10px;
      @media (max-width: 768px) {
        font-size: 2.5rem;
        text-align: center;
      }
    }
    a {
      display: flex;
      margin-bottom: 10px;
      font-size: 1.25rem;
      img {
        filter: brightness(0%);
        width: 24px;
        height: 24px;
        margin-right: 10px;
        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  &__links {
    h3 {
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 10px;
      @media (max-width: 768px) {
        font-size: 2.5rem;
        text-align: center;
      }
    }
    ul {
      padding: 0;
      @media (max-width: 768px) {
        text-align: center;
      }
      li {
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 10px;
        a {
          color: black;
          text-decoration: none;
        }
        @media (max-width: 768px) {
          font-size: 1.25rem;
        }
      }
    }
  }
}

/*
* --------------------------------------------------
* END OF CONTACT SECTION
* --------------------------------------------------
*/

/*
* --------------------------------------------------
* END OF CUSTOM STYLES
* --------------------------------------------------
*/